services:
  db:
    image: postgres:17.4
    ports:
      - "5444:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mypassword
    restart: always
    volumes: 
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
